.food-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.food-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.food-image:hover {
  transform: scale(1.2);
  z-index: 1;
}


.food-info h3 {
  margin: 8px 0 5px;
}

.veg-symbol {
  color: green;
  font-weight: bold;
}

.nonveg-symbol {
  color: red;
  font-weight: bold;
}

button {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
